@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #cc2c2c;
  outline: none;
}

input[type="radio"]:checked {
  background: radial-gradient(circle at center, #e01d1d 50%, transparent 20.5%);
}

/* Chat.css */
.chat-container {
  max-height: calc(100vh - 100px);
  /* Adjust 100px to the height of your header and footer or any other offset */
  overflow-y: auto;
  overflow-x: hidden;
  /* Optional: to hide horizontal scrollbar if not needed */
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;

  border: 1px solid #cc2c2c;
  outline: none;
}

input[type="checkbox"]:checked {
  background: radial-gradient(circle at center, #e01d1d 50%, transparent 20.5%);
}

.activeheader {
  background-color: #A92525;
  border-radius: 10px;
  padding: 5px 12px 5px 12px;
  color: #ffffff;
}

.activeheader-mobile {
  background-color: #fff;
  border-radius: 35px;
  padding: 5px 12px 5px 12px;
  color: #A92525;
}

.active {
  background-color: #A92525;
  border-radius: 10px;
  padding: 9px 35px 9px 35px;
  color: #ffffff;
}

.sidebar-active {
  background-color: white;
  border-radius: 10px;
  margin: 9px 0 0 0;
  color: #A92525;


}

.custom-select .ant-select-selector {
  background-color: #f0f0f0 !important;
  /* Change this to your desired color */
}

.custom-select .ant-select-dropdown {
  background-color: #f0f0f0 !important;
  /* Optional: change dropdown background color */
}

.custom-select .ant-select-arrow {
  color: black !important;
  /* Change the arrow color to black */
}


.res-sidebar-active {
  background-color: #A92525;
  border-radius: 10px;

  color: white;


}

@media print {
  .section {
    page-break-inside: avoid;
    /* Avoid breaking sections across pages */
  }
}

.adminnav {
  color: #CC2E2E;
  background-color: white;
}

.adminresnav {
  color: white;
  background-color: #CC2E2E;
}

.shadow {
  box-shadow: #ce6a6a 0px 1px 2px 0px, #ffd2d2 0px 2px 6px 2px;
}

.selectedProfile {
  border: 2px solid #CC2E2E;
  padding: 1;

}

.font {
  font-family: "Montserrat", sans-serif;
}

.text-style {
  color: #CC2E2E;
  font-family: "DM Sans", sans-serif;

}

.background {
  background: linear-gradient(180deg, #A92525 0%, #CC2E2E 100%);
}

.borderline {
  border-color: #CC2E2E;
}

.line {

  border-left: 2px solid #CC2E2E;
  height: 105px;
}

.card {
  background: #FCFCFC;

}

.card:hover {
  background: linear-gradient(180deg, #A92525 0%, #CC2E2E 100%);
  color: white;
  transform: translateY(-20px);
  transition: background 0.5s, transform 0.5s;
}



.icons {
  color: #CC2E2E;
}

.icons:hover {
  color: azure;
}

.about {
  background: linear-gradient(180deg, #A92525 0%, #CC2E2E 100%);

}


.registration {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.time {
  background-color: #F0F0F0;
  outline: none !important;

}

.time:focus {
  border-color: #A92525 !important;

}

.time:hover {
  border-color: none !important;
  outline: none
}




.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

  border-radius: 10px;
  color: #444;

  cursor: pointer;

}

.expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: normal;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type="file"] {
  display: none;
}

.navshadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px 1px;
}


/*  Scrollbar hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 0.5;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  transition: -webkit-line-clamp 0.3s ease-out;
  /* Apply transition only to line clamp property */
}

.description.expanded {
  -webkit-line-clamp: unset;
  /* Unset line clamp to show all lines when expanded */
}


/* Input search by ID */
/* Input container */
.input-container {
  position: relative;
  margin: 20px;
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 20;
  overflow: hidden;
  height: 2px;
  width: 0;
  background-color: #CC2E2E;
  transition: all 0.3s ease;

}

/* Input field:focus styles */
.input-field:focus+.input-label {
  top: -20px;
  font-size: 12px;
  color: #CC2E2E;

}

.input-field:focus+.input-label+.input-highlight {
  width: 100%;
}

.admin-shadow {
  box-shadow: #A92525 0px 2px 9px, #a9252577 0px 0px 5px;
}

.black-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mobile-shadow {
  box-shadow: #cc2e2eab -3px 1px 2px;
}



.sidebar-anim {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(190px);
    transform: translateX(190px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 999;
  /* Ensure it's above other content */
}

.light-Shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.float {
  animation: flot 4s ease-in-out infinite;
}

@keyframes flot {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.blink {
  animation: blink 1.2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .4;
  }

  100% {
    opacity: 0.9;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.bright {
  filter: brightness(39%);
}

/* Avoid cutting off sections */
.avoid-page-break {
  page-break-inside: avoid;
}

/* Force a page break before the element */
.page-break-before {
  page-break-before: always;
}

/* Force a page break after the element */
.page-break-after {
  page-break-after: always;
}



.admin_sidebar {
  -webkit-animation: admin-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: admin-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  100% {
    -webkit-transform: translateY(169px);
    transform: translateY(169px);
  }

  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes admin-slide-top {
  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}




.truncate-data {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* ... when text overflow */

}

@media (max-width: 767px) {
  .truncate-data {
    max-width: 10.14em;
  }
}

::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3;
}


/* From Uiverse.io by Satwinder04 */ 
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #cc2c2c;
  animation: circle1 1s ease-in-out infinite;
}

.circle1:nth-child(2) {
  animation-delay: 0.2s;
}

.circle1:nth-child(3) {
  animation-delay: 0.4s;
}

.circle1:nth-child(4) {
  animation-delay: 0.6s;
}

.circle1:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes circle1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.crop-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


@keyframes openAnimation {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.app-open-animation {
  animation: openAnimation 0.3s ease-out;
}
